
@{
    Layout = "~/Views/Shared/_BuyCarLayout.cshtml";
    ViewBag.Title = "Buy Car";
}


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/Images/1.jpg" class="d-block w-100" alt="carousel1">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Sign Up Today</h1>
                        <p>Sign up today and sell your car here.</p>
                        <p><a class="btn btn-lg btn-primary" href="/Account/Register">Sign Up</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/2.jpg" class="d-block w-100" alt="carousel2">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Contact Us</h1>
                        <p>Contact us today.</p>
                        <p><a class="btn btn-lg btn-primary" href="/About">About Us</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/3.jpg" class="d-block w-100" alt="carousel3">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Cars Gallery</h1>
                        <p>Find your dream car today.</p>
                        <p><a class="btn btn-lg btn-primary" href="/BuyCar">Browse gallery</a></p>
                    </div>
                </div>
            </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img src="~/Content/Images/Sport.png" class="rounded-circle" alt="SportCar">
                <h2>Sport Car</h2>
                <p>Check out the most fancy cars.</p>
                <p><a class="btn btn-primary" href="#">View More &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="~/Content/Images/SUV.png" class="rounded-circle" alt="SUV">
                <h2>SUV Car</h2>
                <p>Find the best SUV for your family.</p>
                <p><a class="btn btn-primary" href="#">View More &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="~/Content/Images/Electric.png" class="rounded-circle" alt="Electric">
                <h2>Electric Car</h2>
                <p>Here are the most eco-friendly electric cars.</p>
                <p><a class="btn btn-primary" href="#">View More &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <img src="~/Content/Images/car1.jpg" class="img-thumbnail" alt="car1">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/Content/Images/car2.jpg" class="img-thumbnail" alt="car2">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <img src="~/Content/Images/car3.jpg" class="img-thumbnail" alt="car3">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

</div>
