
@{
    Layout = "~/Views/Shared/_BuyCarLayout.cshtml";
    ViewBag.Title = "Search Result";
}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Search Results</h1>
            <p class="lead text-muted">Find your dream car or Sell your car today.</p>
            <p>
                <a href="/BuyCar" class="btn btn-primary my-2">Buy Car</a>
                <a href="/Account/Login" class="btn btn-secondary my-2">Sell Car</a>
            </p>
        </div>
    </div>
</section>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var i in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" style="width:100%" height="225" src="~/Content/Images/car5.jpg" id="carImg" />

                        <div class="card-body">

                            <p class="card-text"> Company: @i.Company</p>
                            <p class="card-text"> Model: @i.Model</p>
                            <p class="card-text"> Location: @i.Location</p>
                            <p class="card-text"> BodyType: @i.BodyType</p>
                            <p class="card-text"> Price: $@i.Price</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
