
@{
    ViewBag.Title = "About";
}

<h1 class="mb-3 mt-3"> About Us </h1>
<h3 class="mb-3"> Rolling Wheels </h3>
<h6> Location: </h6><p>1 Ellen st. Wellington</p>
<h6> Phone: </h6><p>04-4235678</p> 
<h6> E-mail: </h6><p>rollingwheels@gmail.com </p>
<br>
<h2 class="mb-3 mt-3"> Meet the team </h2>
<br>
<div class="row row-cols-1 row-cols-md-2 g-2 mb-3">
    <div class="col">
        <div class="card" border-primary mb-3 style="width: 18rem;">
            <img class="card-img-top" src="~/Content/Images/staff1.jpg" alt="staff1">
            <div class="card-body">
                <h4 class="card-title">Jane Doe</h4>
                <p class="card-text">Top Agent</p>
                <p class="card-text">janedoe@gmail.com</p>
                <p><button class="btn btn-primary">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" border-primary mb-3 style="width: 18rem;">
            <img class="card-img-top" src="~/Content/Images/staff2.jpg" alt="staff2">
            <div class="card-body">
                <h4 class="card-title">Mike Ross</h4>
                <p class="card-text">CEO & Founder</p>
                <p class="card-text">mikeross@gmail.com</p>
                <p><button class="btn btn-primary">Contact</button></p>
            </div>
        </div>
    </div>
</div>

