
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" class="h-100">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Rolling Wheels Home</title>

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


      @@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
</style>

<!-- Custom styles for this template -->
<link href="~/Content/cover.css" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Rolling Wheels</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/BuyCar">Buy Car</a>
                    <a class="nav-link" href="/Account/Login">Seller</a>
                    <a class="nav-link" href="/About">About</a>
                    <a class="nav-link" href="/Feedback">Feedback</a>
                </nav>
            </div>
        </header>

        @RenderBody()
        
        <footer class="mt-auto text-white-50">
            <p>&copy; @DateTime.Now.Year - Rolling Wheels Designed By Cathy Chen</p>
        </footer>
    </div>
</body>
</html>
