
@{
    ViewBag.Title = "Feedback";
}

<form method="POST" action="~/Feedback/Create">
    <div class="row mb-3 mt-3">
        <div class="col-12 mt-3">
            <p>Dear Customer,</p>
            <p>Thank you for using our online car sale website. We would like to know how we performed.</p>
        </div>
        <div class="col-12 mt-3">
            <h5>Please Fill In Feedback Form</h5>
        </div>
        <div class="col-12 mt-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" name="Name">
        </div>
        <div class="col-12 mt-3">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="Email">
        </div>
        <div class="col-12 mt-3">
            <label>How easy is it to find information on the site?</label>
        </div>
        <div class="col-12 mt-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="InfoRadio" id="inlineRadio1" value="Easy">
                <label class="form-check-label" for="inlineRadio1">Easy</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="InfoRadio" id="inlineRadio2" value="Average">
                <label class="form-check-label" for="inlineRadio2">Average</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="InfoRadio" id="inlineRadio3" value="Difficult">
                <label class="form-check-label" for="inlineRadio3">Difficult</label>
            </div>
        </div>
        <div class="col-12 mt-3">
            <label>Were you able to find what you needed?</label>
        </div>
        <div class="col-12 mt-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="NeedRadio" id="inlineRadio1" value="Yes">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="NeedRadio" id="inlineRadio2" value="No">
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>
        </div>
        <div class="col-12 mt-3">
            <label for="inputComment" class="form-label">Comments</label>
            <textarea class="form-control" placeholder="Leave a comment here" id="inputComment" name="Comment"></textarea>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
    </div>
</form>

